body {
    background: #11718e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.canvas {
    background-color: rgba(10, 25, 50, 1);


}